[submodule "BuildableDirtTile"]
	path = BuildableDirtTile
	url = https://github.com/ecool/BuildableDirtTile.git
[submodule "BuildableNaturalTile"]
	path = BuildableNaturalTile
	url = https://github.com/ecool/BuildableNaturalTile.git
[submodule "CoolLib"]
	path = CoolLib
	url = https://github.com/ecool/CoolLib.git
[submodule "CustomNameList"]
	path = CustomNameList
	url = https://github.com/ecool/CustomNameList.git
