[submodule "BuildableDirtTile"]
	path = BuildableDirtTile
	url = https://github.com/ecool/BuildableDirtTile.git
[submodule "BuildableNaturalTile"]
	path = BuildableNaturalTile
	url = https://github.com/ecool/BuildableNaturalTile.git
